.sort-comm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: var(--let-space-s);
  font-family: monospace;
  font-size: var(--desc-size);
  list-style: none;
}

.sort-comm-item {
  background-color: var(--theme-color);
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: var(--border-rad);
  cursor: pointer;
}
.sort-comm-item:hover {
  background-color: var(--theme-color-h);
}

.comm-cont {
  max-height: 150px;
}

.comm-source-btn {
  padding-right: 15px;
  float: right;
}

.make-comm-form {
    border-radius: var(--border-rad);
    padding: 5px;
    text-align: center;
}

.comm-inp {
    resize: vertical;
    width: 93%;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
}

.comm-btn {
    margin-bottom: 10px;
    width: 98%;
}
