.dropdown {
  position: relative;
}
.dropdown-btn:focus + .dropdown-cont {
  display: block;
}

.dropdown-cont {
  display: none;
  position: absolute;
  min-width: 100%;
  list-style-type: none;
  text-align: center;
  z-index: 1;
}
.dropdown-cont li {
  color: white;
  display: block;
  padding: 15px;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}
.dropdown-cont li:hover {
  background-color: white;
  color: black;
}
