body {
    background-color: var(--back-color-d);
    margin: 0;
    color: var(--font-color);
    font-family: Noto Sans;
    font-size: var(--font-m);
}

a {
    text-decoration: none;
    color: var(--font-color);
}

.theme-box {
    background-color: var(--back-color);
    border: 1px var(--back-color-l) solid;
}

.float-right {
    float: right;
}

.block-right {
    display: block;
    margin-left: auto;
}

.position-right {
    right: 0;
}

.block-middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.invert-icon {
    filter: var(--icon-invert);
}

.main-title {
    font-weight: bold;
    word-break: break-all;
}

.main-input {
    background-color: var(--back-color-d);
    color: var(--font-color);
    border: none;
    border: 1px solid var(--back-color-l);
    padding-left: 5px;
    font-size: var(--font-m);
}

.main-textarea {
    height: 25px;
    resize: vertical;
    font-family: Noto Sans;
}

.main-button {
    background-color: var(--theme-color);
    padding: 3px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: var(--font-m);
    color: var(--font-color);
    border: none;
    cursor: pointer;
}

.main-info-text {
    display: inline-block;
    padding-right: 5px;
}
.main-info-text:not(:last-child) {
    border-right-width: 6px;
    border-right-style: dotted;
}
