@media screen and (max-width: 70rem) {
    .header-search {
        width: 90%;
    }
    .post-wrap {
        grid-template-columns: 1fr 1fr;
    }
    .post-col--3 {
        display: none;
    }
}

@media screen and (max-width: 40rem) {
    .mid-cont {
        width: 98%;
    }
    .nav-tog {
        opacity: 1;
        cursor: pointer;
    }
    .main-nav {
        width: 0;
        top: 45px;
        height: 93%;
        border-top: var(--back-color) 3px dotted;
        border-top-right-radius: var(--border-rad);
    }
    .main-cont {
        grid-column: 1/5;
    }
    .post-wrap {
        grid-template-columns: 1fr;
    }
    .post-col--2 {
        display: none;
    }
}
