.media-cont {
    padding: 10px;
    max-height: 500px;
    overflow: hidden;
}

.media-bar-item {
    display: inline-block;
    padding: 10px;
}
.media-bar-item:hover {
    cursor: pointer;
}

.media-text {
    padding: 0 10px 20px 10px;
}

.media-section {
    padding: 10px;
    background-color: var(--back-color-l);
    border-radius: 5px;
}

.media-bar-icon {
    width: 20px;
}

.media-bar-icon-value {
    display: inline;
}

.media-button {
    margin-top: 5px;
    margin-bottom: 5px;
}

.media-bar-info {
    padding: 5px 10px;
    color: var(--font-color-l);
}

.media-bar {
    background-color: var(--back-color-d);
    display: inline-block;
    width: 100%;
}

.see-more {
    background-color: var(--theme-color);
    padding: 10px;
    display: none;
    text-align: center;
    cursor: pointer;
}
.see-more:hover {
    background-color: var(--theme-color-d);
}
