.main-nav {
    position: fixed;
    background-color: var(--theme-color);
    width: 60px;
    height: 100%;
    overflow: hidden;
    z-index: 2;
    transition: 0.3s ease-in-out;
    border-right: var(--back-color) 3px solid;
}
.main-nav:hover, .nav-tog:focus + .main-nav {
    width: 280px;
}

.main-auth-nav {
    position: absolute;
    bottom: 0;
}

.main-loc-nav-item {
    list-style: none;
    margin: 10px;
    padding: 20px 0px 20px 70px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px;
    font-size: var(--title-size);
    transition: 0.1s ease-in-out;
}
.main-loc-nav-item:hover {
    background-size: 45px;
}
.main-loc-nav a:hover {
    color: white;
}

.nav-tog img {
    position: fixed;
    width: 40px;
    border: var(--back-color) 2px solid;
    background-color: var(--back-color);
}
.nav-tog {
    text-align: center;
    padding-top: 4px;
    margin-right: 40px;
    opacity: 0;
    z-index: 1;
}

.main-dir-nav-item[name="home"] {
    background-image: url("/img/icons/home-icon.png");
}
.main-dir-nav-item[name="profile"] {
    background-image: url("/img/icons/profile-icon.png");
}
.main-dir-nav-item[name="post"] {
    background-image: url("/img/icons/post-icon.png");
}
.main-dir-nav-item[name="setts"] {
    background-image: url("/img/icons/setts-icon.png");
}

.main-auth-nav-item[name="login"] {
    background-image: url("/img/icons/login-icon.png");
}
.main-auth-nav-item[name="logout"] {
    background-image: url("/img/icons/logout-icon.png");
}
.main-auth-nav-item[name="signin"] {
    background-image: url("/img/icons/signin-icon.png");
}
