.post-title {
    font-size: var(--font-xl);
    text-align: center;
    padding: 10px;
}

.post-page-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.post-textarea {
    height: 250px;
}
