:root {
    --back-color-l: hsl(0, 0%, 16%);
    --back-color: hsl(0, 0%, 12%);
    --back-color-d: hsl(0, 0%, 8%);
    --theme-color: hsl(170, 60%, 35%);
    --theme-color-d: hsl(170, 60%, 20%);
    --font-m: 16px;
    --font-l: 17px;
    --font-xl: 20px;
    --font-color-l: hsl(0, 0%, 50%);
    --font-color: hsl(0, 0%, 80%);
    --icon-invert: invert(100%);
}
